body {
    background-color: #778ca3;
    color: white;
}

h1 {
    display: inline;
    font-family: Calibri;
    font-size: 64px;
    font-weight: bold;
    color: #353b48;
}

label {
    display: inline;
    font-family: Calibri;
    font-size: 32px;
    font-weight: bold;
}

input {
    display: inline;
    font-family: Calibri;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
}

::placeholder {
    color: white;
}

button {
    font-family: Calibri;
    font-size: 64px;
    font-weight: bold;
    color: white;
    background-color: #353b48;
    border: none;
    border-radius: 5px;
    margin-inline: 10px;
}